@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Bienvenido a EncuentraTCU!</h1>
        <h3 id="title">De momento nos encontramos desarrollando lo que será la mejor experiencia de búsqueda de TCU estudiantil. Nos vemos pronto! </h3>
        <div class="d-flex justify-content-center">
            <img src="https://images.pexels.com/photos/6147219/pexels-photo-6147219.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="1000px" class="img-fluid mt-2">
        </div>
    </section>
</main>