
@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-dark navbar-extend p-2" style="background-color: #1A2035;">
        <div class="container-fluid">
            <a class="navbar-brand fs-4 fw-bold" th:href="">
                <i class="fa fa-bell mx-2"></i> Slogan
            </a>
        </div>
    </nav>

    <section class="container-fluid d-flex flex-grow-1 px-0">
        <div class="col">
            <img src="https://images.pexels.com/photos/167682/pexels-photo-167682.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" style="object-fit: cover; height: 100%">
        </div>
        <div class="col d-flex align-items-center">
            <div class="container-fluid d-flex flex-column">
                <form class="pb-5 border-bottom px-5" th:action="" method="POST">
                    <div class="text-center fw-bold" style="font-size: 10vh; color: #1F283E;">Web App</div>
                    <h2 class="mb-5 text-center" style="color: #1F283E;" th:text="#{login.loginUsuario}">Ingresar</h2>
                    <div class="form-group form-floating mb-4">
                        <input type="text" class="form-control" placeholder="Cédula" name="Cédula" id="Cédula" />
                        <label class="form-label" th:text="#{login.username}">Cédula</label>
                    </div>
                    <div class="form-group form-floating mb-4">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password" id="password" />
                        <label class="form-label" th:text="#{login.password}">Contraseña</label>
                    </div>
                    <div class="form-group text-center">
                        <a href="../User/Home/home.php" class="btn btn-primary btn-lg" style="background-color:#1F283E; border-color: #1F283E;" th:text="#{login.inicioSesion}">
                            Iniciar Sesión
                        </a>
                        <div class="mt-3">
                            <a href="@Url.Action("RecuperarContrasenna", "Autenticacion")" class="mt-5 text-center under">¿Olvidó su contraseña?</a>
                        </div>
                    </div>
                </form>
                <a href="@Url.Action("Registro", "Autenticacion")" class="mt-4 text-center under" th:text="#{login.registrarse}">¿No tenés Cuenta? <br> ¡Crea una ya! </a>
            </div>
        </div>
    </section>

</div>